body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    COLOR: rgba(223, 184, 7, 0.962);
    font-size: 36px;
    margin-top: 50px;
}

img.perfect {
    object-position: center;
    display: block;
    margin: 0 auto;
}

img.hunt {
    object-position: center;
    display: block;
    margin: 0 auto;
}

img.ran {
    object-position: center;
    display: block;
    margin: 0 auto;
}

img.memo {
    object-position: center;
    display: block;
    margin: 0 auto;
}

.custom-button {
    background-color: rgba(223, 184, 7, 0.962);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oswald-uniquifier {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}